/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    p {font-size: 90%;}

    .row { padding: 0 7%;}

    .main-nav {
        margin-top: 30px;
    }

    .logo {
        width: 39%;
        padding: 1px 2%;
    }

    h2 {
        font-size: 140%;
        margin-bottom: 20px;
    }
    
    .section-header {
        font-size: 150%;
    }

    .hero-text-box .btn {
        margin-top: 30px;
    }

    .client-logo-container {
        padding: 5px;
        margin: 10px;
    }

    .client-logo-container img {
        width: 30%;
    }

    .img-box {
        width: 230px;
        height: auto;
        margin-left: 18%;
    }

    .section-cutting-edge .icon-tools {
        margin-top: -20px;
    }

    .icon-tools {
        width: 75%;
    }
    

}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    p {font-size: 80%;}

    .row { padding: 0 7%; margin: 0%}

    .logo {
        display: none;
    }

    .mobile-logo {
        display: block;
        margin: 10px;
    }

    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 40px;
    }

    .main-nav li {
        display: block;
        font-size: large;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        font-size: 100%;
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .work-together-image {
        display: none;
    }

    .work-together-image-mobile {
        display: block;
    }

    .section-header {
        font-size: 180%;
    }

    .section-about p {
        text-align: justify;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .tear-down-img {
        display: none;
    }

    .tear-down-img-mobile {
        display: block
    }

    .card-container {
        display: inline-block;
        margin: 10px;
    }

    .card {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .span-1-of-3 {
        margin: 15px 0;
    }

    .mobile-application-img-mobile{
        display: block;
        margin-left: 45px !important;
    }

    .mobile-application-img, .conversation-img { 
        display: none;
    }

    .section-what-we-do .justify {
        margin: 0 !important;
    }

    .conversation-img-mobile { 
        display: block;
        margin-left: 65px !important;
    }

    .form {
        margin-left: 0;
        width: 100%;
    }
    
}